@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  min-height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Aktiv Grotesk Corp-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Aktiv Grotesk Corp-Bold";
  src: local("Aktiv Grotesk Corp-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Bold", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Montserrat-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-BoldItalic", "weight": "700", "style": "italic", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-BoldItalic";
  src: local("Inter-BoldItalic");
}
/* @FONTWARNING[{"type": "restricted", "family": "Aileron-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Aileron-Bold";
  src: local("Aileron-Bold");
}
.brad-sumrok-revamp {
  background-color: #fafafa;
  overflow: hidden;
  width: 100%;
  min-width: 1280px;
  min-height: 7144px;
  position: relative;
}

.brad-sumrok-revamp .rectangle {
  position: absolute;
  top: 5162px;
  left: calc(50.00% - 640px);
  width: 1278px;
  height: 1156px;
  background-color: #f2f2f2;
}

.brad-sumrok-revamp .group {
  position: absolute;
  top: 5503px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .div {
  position: absolute;
  top: 0;
  left: calc(50.00% - 525px);
  width: 1048px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 5px;
}

.brad-sumrok-revamp .text-wrapper {
  position: absolute;
  top: 23px;
  left: 31px;
  width: 549px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #2b2f36;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-2 {
  position: absolute;
  top: 5599px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .p {
  position: absolute;
  top: 23px;
  left: 31px;
  width: 751px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #2b2f36;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-3 {
  position: absolute;
  top: 5790px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .group-4 {
  position: absolute;
  top: 5981px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .group-5 {
  position: absolute;
  top: 5694px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .text-wrapper-2 {
  position: absolute;
  top: 23px;
  left: 31px;
  width: 728px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #2b2f36;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-6 {
  position: absolute;
  top: 5886px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .group-7 {
  position: absolute;
  top: 6077px;
  left: calc(50.00% - 531px);
  width: 1050px;
  height: 69px;
}

.brad-sumrok-revamp .img {
  position: absolute;
  top: 0;
  left: calc(50.00% - 640px);
  width: 1280px;
  height: 584px;
  object-fit: cover;
}

.brad-sumrok-revamp .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 46px;
  background-color: #0f0f0f;
}

.brad-sumrok-revamp .rectangle-3 {
  position: absolute;
  top: 1013px;
  left: calc(50.00% - 639px);
  width: 1279px;
  height: 807px;
  background-color: #f2f2f2;
}

.brad-sumrok-revamp .rectangle-4 {
  position: absolute;
  top: 3178px;
  left: calc(50.00% - 641px);
  width: 1281px;
  height: 619px;
  background-color: #003049;
}

.brad-sumrok-revamp .rectangle-5 {
  position: absolute;
  top: 2202px;
  left: 383px;
  width: 243px;
  height: 393px;
  background-color: #f4f6f8;
  border-radius: 5px;
}

.brad-sumrok-revamp .rectangle-6 {
  position: absolute;
  top: 2202px;
  left: 654px;
  width: 246px;
  height: 466px;
  background-color: #f4f6f8;
  border-radius: 5px;
}

.brad-sumrok-revamp .rectangle-7 {
  position: absolute;
  top: 2202px;
  left: 927px;
  width: 244px;
  height: 553px;
  background-color: #f4f6f8;
  border-radius: 5px;
}

.brad-sumrok-revamp .rectangle-8 {
  position: absolute;
  top: 2202px;
  left: 109px;
  width: 245px;
  height: 326px;
  background-color: #f4f6f8;
  border-radius: 5px;
}

.brad-sumrok-revamp .text-wrapper-3 {
  position: absolute;
  top: 200px;
  left: 276px;
  width: 728px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 62.3px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 68.5px;
}

.brad-sumrok-revamp .text-wrapper-4 {
  position: absolute;
  top: 1216px;
  left: 109px;
  width: 520px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 62.3px;
  letter-spacing: -1.25px;
  line-height: 68.5px;
}

.brad-sumrok-revamp .text-wrapper-5 {
  position: absolute;
  top: 3359px;
  left: 109px;
  width: 466px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 62.3px;
  letter-spacing: -1.25px;
  line-height: 68.5px;
}

.brad-sumrok-revamp .wherever-you-are {
  position: absolute;
  top: 1948px;
  left: calc(50.00% - 356px);
  width: 712px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 62.3px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 68.5px;
}

.brad-sumrok-revamp .text-wrapper-6 {
  position: absolute;
  top: 3923px;
  left: calc(50.00% - 293px);
  width: 586px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 62.3px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 68.5px;
}

.brad-sumrok-revamp .text-wrapper-7 {
  position: absolute;
  top: 5286px;
  left: calc(50.00% - 293px);
  width: 586px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 62.3px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 68.5px;
}

.brad-sumrok-revamp .text-wrapper-8 {
  position: absolute;
  top: 425px;
  left: calc(50.00% - 364px);
  width: 728px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.brad-sumrok-revamp .brad-bought-his {
  position: absolute;
  top: 1459px;
  left: calc(50.00% - 531px);
  width: 499px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0f0f0f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
}

.brad-sumrok-revamp .text-wrapper-9 {
  position: absolute;
  top: 3528px;
  left: calc(50.00% - 531px);
  width: 499px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 37.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .four-programs-one {
  position: absolute;
  top: 2102px;
  left: calc(50.00% - 351px);
  width: 703px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0f0f0f;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-10 {
  position: absolute;
  top: 4077px;
  left: calc(50.00% - 351px);
  width: 703px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0f0f0f;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-11 {
  position: absolute;
  top: 2995px;
  left: calc(50.00% - 531px);
  width: 703px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0f0f0f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 37.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .vector {
  position: absolute;
  top: 3044px;
  left: 108px;
  width: 1172px;
  height: 1px;
  object-fit: cover;
}

.brad-sumrok-revamp .text-wrapper-12 {
  position: absolute;
  top: 169px;
  left: calc(50.00% - 301px);
  width: 602px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #c1121f;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  line-height: 25.2px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-13 {
  position: absolute;
  top: 1151px;
  left: calc(50.00% - 531px);
  width: 496px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #c1121f;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 25.2px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-14 {
  position: absolute;
  top: 3319px;
  left: calc(50.00% - 531px);
  width: 496px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #c1121f;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 25.2px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-15 {
  position: absolute;
  top: 785px;
  left: calc(50.00% - 301px);
  width: 602px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #c1121f;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  line-height: 25.2px;
  white-space: nowrap;
}

.brad-sumrok-revamp .about-brad-mentoring {
  position: absolute;
  top: 78px;
  left: calc(50.00% - 77px);
  width: 430px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.brad-sumrok-revamp .element-support {
  position: absolute;
  top: 13px;
  left: calc(50.00% - 505px);
  width: 226px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.brad-sumrok-revamp .span {
  text-decoration: underline;
}

.brad-sumrok-revamp .text-wrapper-16 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}

.brad-sumrok-revamp .student-login {
  position: absolute;
  top: 13px;
  left: calc(50.00% + 428px);
  width: 77px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  text-align: right;
  letter-spacing: 0;
  line-height: 18px;
  text-decoration: underline;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-wrapper {
  position: absolute;
  width: 372px;
  height: 61px;
  top: 6460px;
  left: 794px;
  display: flex;
  justify-content: center;
}

.brad-sumrok-revamp .group-8 {
  width: 374px;
  height: 61px;
  margin-left: 2px;
  position: relative;
}

.brad-sumrok-revamp .rectangle-9 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 187px);
  width: 372px;
  height: 61px;
}

.brad-sumrok-revamp .text-wrapper-17 {
  position: absolute;
  top: 18px;
  left: 29px;
  width: 141px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .frame {
  width: 136px;
  height: 26px;
  top: 75px;
  left: calc(50.00% + 369px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .start-free-training {
  position: relative;
  width: 110px;
  height: 12px;
  margin-top: -9.34px;
  margin-bottom: -7.79px;
  margin-left: -33.7px;
  margin-right: -33.7px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.brad-sumrok-revamp .start-the-free-day-wrapper {
  width: 252px;
  height: 34px;
  top: 473px;
  left: calc(50.00% - 126px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .start-the-free-day {
  position: relative;
  width: 228px;
  height: 16px;
  margin-top: -7.34px;
  margin-bottom: -5.79px;
  margin-left: -34.7px;
  margin-right: -34.7px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.brad-sumrok-revamp .more-about-brad-wrapper {
  width: 189px;
  height: 34px;
  top: 1648px;
  left: calc(50.00% - 536px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .text-wrapper-18 {
  position: relative;
  width: 143px;
  height: 16px;
  margin-top: -7.34px;
  margin-bottom: -5.79px;
  margin-left: -23.7px;
  margin-right: -23.7px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.brad-sumrok-revamp .div-wrapper {
  width: 189px;
  height: 34px;
  top: 3594px;
  left: calc(50.00% - 531px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .see-all-reviews-wrapper {
  width: 171px;
  height: 34px;
  top: 5034px;
  left: calc(50.00% - 85px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .see-all-reviews {
  position: relative;
  width: 125px;
  height: 16px;
  margin-top: -7.34px;
  margin-bottom: -5.79px;
  margin-left: -23.7px;
  margin-right: -23.7px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.brad-sumrok-revamp .subscribe-wrapper {
  width: 148px;
  height: 34px;
  top: 6547px;
  left: calc(50.00% + 378px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .subscribe {
  position: relative;
  width: 125px;
  height: 16px;
  margin-top: -7.34px;
  margin-bottom: -5.79px;
  margin-left: -35.2px;
  margin-right: -35.2px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.brad-sumrok-revamp .start-free-wrapper {
  width: 245px;
  height: 34px;
  top: 2493px;
  left: calc(50.00% - 531px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .start-free {
  position: relative;
  width: 143px;
  height: 16px;
  margin-top: -7.34px;
  margin-bottom: -5.79px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.brad-sumrok-revamp .learn-about-the-wrapper {
  width: 243px;
  height: 34px;
  top: 2561px;
  left: calc(50.00% - 257px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .learn-about-the {
  position: relative;
  width: 195px;
  height: 14px;
  margin-top: -6.34px;
  margin-bottom: -4.79px;
  margin-left: -22.7px;
  margin-right: -22.7px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.brad-sumrok-revamp .enroll-now-wrapper {
  width: 249px;
  height: 34px;
  top: 2634px;
  left: calc(50.00% + 14px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .text-wrapper-19 {
  position: relative;
  width: 195px;
  height: 14px;
  margin-top: -6.34px;
  margin-bottom: -4.79px;
  margin-left: -19.7px;
  margin-right: -19.7px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #fafafa;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.brad-sumrok-revamp .apply-wrapper {
  width: 249px;
  height: 34px;
  top: 2721px;
  left: calc(50.00% + 285px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.78px;
  padding: 15.57px 46.7px;
  position: absolute;
  background-color: #c1121f;
  border-radius: 5px;
}

.brad-sumrok-revamp .get-brad-s-weekly {
  position: absolute;
  top: 6460px;
  left: 109px;
  width: 611px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 46.7px;
  letter-spacing: 0;
  line-height: normal;
}

.brad-sumrok-revamp .text-wrapper-20 {
  position: absolute;
  top: 2373px;
  left: calc(50.00% - 222px);
  width: 172px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .text-wrapper-21 {
  position: absolute;
  top: 2373px;
  left: calc(50.00% - 499px);
  width: 172px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .the-intro-course {
  position: absolute;
  top: 2628px;
  left: calc(50.00% - 234px);
  width: 196px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .text-wrapper-22 {
  position: absolute;
  top: 2699px;
  left: calc(50.00% + 40px);
  width: 198px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .text-wrapper-23 {
  position: absolute;
  top: 2785px;
  left: calc(50.00% + 306px);
  width: 208px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .text-wrapper-24 {
  position: absolute;
  top: 2754px;
  left: calc(50.00% - 191px);
  width: 110px;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-25 {
  position: absolute;
  top: 2808px;
  left: calc(50.00% + 84px);
  width: 110px;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .bonnie-kerry-stanley {
  position: absolute;
  top: 2911px;
  left: calc(50.00% + 313px);
  width: 194px;
  text-align: center;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .brad-s-full-system {
  position: absolute;
  top: 2341px;
  left: calc(50.00% + 52px);
  width: 170px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .core-training {
  position: absolute;
  top: 2515px;
  left: calc(50.00% + 30px);
  width: 214px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .online-mentoring {
  position: absolute;
  top: 2578px;
  left: calc(50.00% + 295px);
  width: 226px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .WHAT-s-INCLUDED {
  position: absolute;
  top: 2485px;
  left: calc(50.00% + 30px);
  width: 214px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .WHAT-s-INCLUDED-2 {
  position: absolute;
  top: 2544px;
  left: calc(50.00% + 301px);
  width: 214px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .brad-s-most {
  position: absolute;
  top: 2341px;
  left: calc(50.00% + 323px);
  width: 173px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .what-s-working-in {
  position: absolute;
  top: 6586px;
  left: calc(50.00% - 531px);
  width: 562px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
}

.brad-sumrok-revamp .tier-free-day {
  position: absolute;
  top: 2245px;
  left: 155px;
  width: 155px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 23.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.brad-sumrok-revamp .text-wrapper-26 {
  color: #c1121f;
}

.brad-sumrok-revamp .text-wrapper-27 {
  color: #003049;
}

.brad-sumrok-revamp .tier-introduction {
  position: absolute;
  top: 2245px;
  left: 400px;
  width: 210px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 23.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.brad-sumrok-revamp .tier-online {
  position: absolute;
  top: 2245px;
  left: 677px;
  width: 200px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 23.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.brad-sumrok-revamp .tier-mentoring {
  position: absolute;
  top: 2245px;
  left: 972px;
  width: 156px;
  font-family: "Aktiv Grotesk Corp-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 23.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.brad-sumrok-revamp .rectangle-10 {
  position: absolute;
  top: 6766px;
  left: calc(50.00% - 640px);
  width: 1281px;
  height: 378px;
  background-color: #003049;
}

.brad-sumrok-revamp .vector-2 {
  position: absolute;
  top: 7064px;
  left: 134px;
  width: 1027px;
  height: 1px;
}

.brad-sumrok-revamp .sumroklogo {
  top: 71px;
  position: absolute;
  left: 135px;
  width: 168px;
  height: 31px;
  aspect-ratio: 5.5;
  object-fit: cover;
}

.brad-sumrok-revamp .sumroklogo-2 {
  top: 6852px;
  position: absolute;
  left: 135px;
  width: 168px;
  height: 31px;
  aspect-ratio: 5.5;
  object-fit: cover;
}

.brad-sumrok-revamp .group-9 {
  position: absolute;
  top: 584px;
  left: 0;
  width: 1280px;
  height: 129px;
  border-radius: 6.67px;
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

.brad-sumrok-revamp .group-10 {
  position: absolute;
  top: 603px;
  left: 107px;
  width: 1066px;
  height: 87px;
}

.brad-sumrok-revamp .vector-3 {
  position: absolute;
  top: 11px;
  left: 207px;
  width: 1px;
  height: 64px;
}

.brad-sumrok-revamp .vector-4 {
  position: absolute;
  top: 11px;
  left: 501px;
  width: 1px;
  height: 64px;
}

.brad-sumrok-revamp .vector-5 {
  position: absolute;
  top: 11px;
  left: 802px;
  width: 1px;
  height: 64px;
}

.brad-sumrok-revamp .group-11 {
  position: absolute;
  top: 0;
  left: calc(50.00% + 298px);
  width: 239px;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.brad-sumrok-revamp .text-wrapper-28 {
  margin-left: -4px;
  height: 45px;
  width: 235px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 46.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.brad-sumrok-revamp .of-students-with {
  margin-left: -6px;
  height: 33px;
  width: 233px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.9px;
}

.brad-sumrok-revamp .group-12 {
  position: absolute;
  top: 10px;
  left: calc(50.00% - 297px);
  width: 240px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.brad-sumrok-revamp .text-wrapper-29 {
  margin-left: -4.2px;
  height: 44.69px;
  width: 188.1px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 46.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.brad-sumrok-revamp .apartment-units {
  margin-left: -4px;
  height: 16px;
  width: 236px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.9px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-13 {
  position: absolute;
  width: 243px;
  height: 63px;
  top: 11px;
  left: 530px;
  display: flex;
  justify-content: center;
}

.brad-sumrok-revamp .group-14 {
  width: 247px;
  height: 63px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.brad-sumrok-revamp .NAA-investor-of-the {
  margin-left: -4px;
  height: 17px;
  width: 243px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.9px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-30 {
  margin-left: -2px;
  height: 45px;
  width: 241px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 46.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-15 {
  position: absolute;
  top: 10px;
  left: calc(50.00% - 533px);
  width: 182px;
  height: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brad-sumrok-revamp .started-investing {
  margin-left: -4px;
  height: 16px;
  width: 178px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.9px;
  white-space: nowrap;
}

.brad-sumrok-revamp .text-wrapper-31 {
  margin-left: -3px;
  height: 45px;
  width: 175px;
  font-family: "Aileron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 46.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.brad-sumrok-revamp .image {
  position: absolute;
  top: 830px;
  left: 104px;
  width: 98px;
  height: 66px;
  aspect-ratio: 1.47;
  object-fit: cover;
}

.brad-sumrok-revamp .image-2 {
  position: absolute;
  top: 830px;
  left: 234px;
  width: 166px;
  height: 66px;
  aspect-ratio: 2.52;
}

.brad-sumrok-revamp .image-3 {
  position: absolute;
  top: 836px;
  left: 432px;
  width: 164px;
  height: 56px;
  aspect-ratio: 2.93;
}

.brad-sumrok-revamp .image-4 {
  position: absolute;
  top: 836px;
  left: 628px;
  width: 184px;
  height: 50px;
  aspect-ratio: 3.67;
}

.brad-sumrok-revamp .image-5 {
  position: absolute;
  top: 830px;
  left: 844px;
  width: 66px;
  height: 66px;
  aspect-ratio: 1;
}

.brad-sumrok-revamp .image-6 {
  position: absolute;
  top: 830px;
  left: 942px;
  width: 264px;
  height: 66px;
  aspect-ratio: 4;
}

.brad-sumrok-revamp .image-7 {
  position: absolute;
  top: 1151px;
  left: 685px;
  width: 486px;
  height: 531px;
  object-fit: cover;
}

.brad-sumrok-revamp .image-8 {
  position: absolute;
  top: 3319px;
  left: 685px;
  width: 486px;
  height: 309px;
  object-fit: cover;
}

.brad-sumrok-revamp .group-16 {
  position: absolute;
  top: 4171px;
  left: 109px;
  width: 510px;
  height: 366px;
}

.brad-sumrok-revamp .rectangle-11 {
  position: absolute;
  top: 0;
  left: 229px;
  width: 281px;
  height: 366px;
  background-color: #f4f6f8;
  border-radius: 5px;
}

.brad-sumrok-revamp .group-17 {
  position: absolute;
  top: 54px;
  left: calc(50.00% + 13px);
  width: 221px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28.4px;
}

.brad-sumrok-revamp .text-wrapper-32 {
  margin-left: -5.9px;
  height: 182.41px;
  width: 215.56px;
  margin-top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.brad-sumrok-revamp .nathalie-de-vos {
  margin-left: -4px;
  height: 46.19px;
  width: 217.42px;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .image-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 366px;
  object-fit: cover;
}

.brad-sumrok-revamp .group-18 {
  position: absolute;
  top: 4610px;
  left: 109px;
  width: 510px;
  height: 366px;
}

.brad-sumrok-revamp .group-19 {
  left: calc(50.00% + 13px);
  width: 221px;
  height: 239px;
  gap: 23px;
  position: absolute;
  top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brad-sumrok-revamp .i-bonnie-was-able-to {
  margin-left: -6px;
  height: 199px;
  width: 215px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.brad-sumrok-revamp .bonnie-kerry-staples {
  margin-left: -4px;
  height: 17px;
  width: 217px;
  white-space: nowrap;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .group-20 {
  position: absolute;
  top: 4171px;
  left: 661px;
  width: 510px;
  height: 366px;
}

.brad-sumrok-revamp .group-21 {
  left: calc(50.00% + 12px);
  width: 222px;
  height: 172px;
  gap: 20px;
  position: absolute;
  top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brad-sumrok-revamp .text-wrapper-33 {
  margin-left: -6px;
  height: 135px;
  width: 216px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.brad-sumrok-revamp .text-wrapper-34 {
  margin-left: -4px;
  height: 17px;
  width: 218px;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-22 {
  position: absolute;
  top: 4610px;
  left: 661px;
  width: 510px;
  height: 366px;
}

.brad-sumrok-revamp .group-23 {
  left: calc(50.00% + 12px);
  width: 222px;
  height: 235px;
  gap: 20px;
  position: absolute;
  top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brad-sumrok-revamp .text-wrapper-35 {
  margin-left: -6px;
  height: 175px;
  width: 216px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #003049;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.brad-sumrok-revamp .emily-cortright-adam {
  margin-left: -4px;
  height: 40px;
  width: 218px;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #003049;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
}

.brad-sumrok-revamp .brad-sumrok {
  position: absolute;
  top: 6901px;
  left: calc(50.00% - 506px);
  width: 216px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}

.brad-sumrok-revamp .PROGRAMS-free-day {
  position: absolute;
  top: 6852px;
  left: calc(50.00% + 36px);
  width: 169px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}

.brad-sumrok-revamp .text-wrapper-36 {
  font-weight: 700;
}

.brad-sumrok-revamp .text-wrapper-37 {
  font-family: "Inter-Regular", Helvetica;
}

.brad-sumrok-revamp .RESOURCES-blog {
  position: absolute;
  top: 6852px;
  left: calc(50.00% + 288px);
  width: 79px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}

.brad-sumrok-revamp .LEGAL-privacy-policy {
  position: absolute;
  top: 6852px;
  left: calc(50.00% + 417px);
  width: 109px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}

.brad-sumrok-revamp .text-wrapper-38 {
  position: absolute;
  top: 7087px;
  left: calc(50.00% - 483px);
  width: 967px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.brad-sumrok-revamp .group-24 {
  position: absolute;
  top: 6976px;
  left: 134px;
  width: 153px;
  height: 24px;
}
