@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  min-height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Archivo-ExtraBold", "weight": "800", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Archivo-ExtraBold";
  src: local("Archivo-ExtraBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Playfair Display-SemiBold", "weight": "600", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Playfair Display-SemiBold";
  src: local("Playfair Display-SemiBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Archivo-Light", "weight": "300", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Archivo-Light";
  src: local("Archivo-Light");
}
/* @FONTWARNING[{"type": "restricted", "family": "Archivo-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Archivo-Bold";
  src: local("Archivo-Bold");
}

.element-conceivium {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 7297px;
  position: relative;
}

.element-conceivium .rectangle {
  position: absolute;
  top: 4591px;
  left: calc(50.00% - 959px);
  width: 1919px;
  height: 1373px;
  background-color: #f7f5f0;
}

.element-conceivium .div {
  position: absolute;
  top: 1911px;
  left: calc(50.00% - 959px);
  width: 1919px;
  height: 1373px;
  background:
    linear-gradient(0deg, rgba(7, 23, 48, 1) 0%, rgba(7, 23, 48, 1) 100%),
    linear-gradient(225deg, rgba(11, 42, 71, 1) 0%, rgba(7, 23, 48, 1) 100%);
}

.element-conceivium .rectangle-2 {
  position: absolute;
  top: 6835px;
  left: calc(50.00% - 963px);
  width: 1927px;
  height: 358px;
  background: linear-gradient(
    225deg,
    rgba(11, 42, 71, 1) 0%,
    rgba(7, 23, 48, 1) 100%
  );
}

.element-conceivium .img {
  position: absolute;
  top: 0;
  left: calc(50.00% - 960px);
  width: 1920px;
  height: 847px;
  object-fit: cover;
}

.element-conceivium .rectangle-3 {
  position: absolute;
  top: 7193px;
  left: calc(50.00% - 960px);
  width: 1920px;
  height: 104px;
}

.element-conceivium .frame {
  width: 278px;
  top: 556px;
  left: calc(50.00% - 832px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .text-wrapper {
  position: relative;
  width: 158px;
  height: 13px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #071730;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-2 {
  position: absolute;
  top: 293px;
  left: calc(50.00% - 832px);
  width: 1577px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 120px;
  letter-spacing: 0;
  line-height: 120px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-3 {
  position: absolute;
  top: 1071px;
  left: calc(50.00% - 493px);
  width: 986px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #071730;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-4 {
  position: absolute;
  top: 3508px;
  left: calc(50.00% - 493px);
  width: 986px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #071730;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-5 {
  position: absolute;
  top: 4815px;
  left: calc(50.00% - 493px);
  width: 986px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #071730;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.element-conceivium .p {
  position: absolute;
  top: 457px;
  left: calc(50.00% - 832px);
  width: 1024px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-6 {
  position: absolute;
  top: 6892px;
  left: calc(50.00% - 560px);
  width: 264px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-7 {
  position: absolute;
  top: 6930px;
  left: calc(50.00% - 560px);
  width: 264px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-8 {
  position: absolute;
  top: 6892px;
  left: calc(50.00% - 154px);
  width: 715px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

.element-conceivium .rectangle-4 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 1920px;
  height: 110px;
  background-color: #071730;
}

.element-conceivium .div-wrapper {
  width: 280px;
  top: 68px;
  left: 1512px;
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .text-wrapper-9 {
  position: relative;
  width: 201px;
  height: 15px;
  margin-left: -20.5px;
  margin-right: -20.5px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #071730;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .rectangle-5 {
  position: absolute;
  top: 69px;
  left: calc(50.00% - 832px);
  width: 135px;
  height: 46px;
  object-fit: cover;
}

.element-conceivium .group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 48px;
  display: flex;
  background-color: #071730;
}

.element-conceivium .rectangle-6 {
  width: 1667px;
  height: 48px;
  margin-left: 125px;
}

.element-conceivium .text-wrapper-10 {
  position: absolute;
  top: 1017px;
  left: 862px;
  width: 158px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #c9a961;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-11 {
  top: 3454px;
  left: 862px;
  text-align: center;
  position: absolute;
  width: 158px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #c9a961;
  font-size: 15px;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-12 {
  top: 4761px;
  left: 862px;
  text-align: center;
  position: absolute;
  width: 158px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #c9a961;
  font-size: 15px;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .rectangle-7 {
  position: absolute;
  top: 1230px;
  left: calc(50.00% - 832px);
  width: 475px;
  height: 511px;
  background-color: #f7f5f0;
}

.element-conceivium .element-choose-your-panel {
  position: absolute;
  top: 1369px;
  left: calc(50.00% - 748px);
  width: 308px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .span {
  color: #c9a961;
}

.element-conceivium .text-wrapper-13 {
  color: #071730;
}

.element-conceivium .text-wrapper-14 {
  position: absolute;
  top: 1559px;
  left: calc(50.00% - 740px);
  width: 292px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .vector {
  top: 1504px;
  left: 220px;
  width: 164px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .vector-2 {
  top: 1504px;
  left: 769px;
  width: 164px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .rectangle-8 {
  position: absolute;
  top: 1230px;
  left: calc(50.00% + 357px);
  width: 475px;
  height: 511px;
  background-color: #f7f5f0;
}

.element-conceivium .element-get-your-results {
  position: absolute;
  top: 1369px;
  left: calc(50.00% + 443px);
  width: 303px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-15 {
  position: absolute;
  top: 1559px;
  left: calc(50.00% + 443px);
  width: 303px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

.element-conceivium .vector-3 {
  top: 1504px;
  left: 1403px;
  width: 164px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .text-wrapper-16 {
  top: 2151px;
  left: calc(50.00% - 788px);
  width: 986px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
}

.element-conceivium .text-wrapper-17 {
  top: 2097px;
  left: 172px;
  position: absolute;
  width: 158px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #c9a961;
  font-size: 15px;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-18 {
  position: absolute;
  top: 2258px;
  left: calc(50.00% - 788px);
  width: 1019px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .group-2 {
  position: absolute;
  top: 2390px;
  left: calc(50.00% - 832px);
  width: 390px;
  height: 708px;
}

.element-conceivium .rectangle-9 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 195px);
  width: 384px;
  height: 708px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(
    225deg,
    rgba(11, 42, 71, 1) 0%,
    rgba(7, 23, 48, 1) 100%
  );
}

.element-conceivium .frame-2 {
  width: 236px;
  top: 593px;
  left: calc(50.00% - 121px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .text-wrapper-19 {
  position: relative;
  width: 158px;
  height: 13px;
  margin-left: -20.88px;
  margin-right: -20.88px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #071730;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .vector-4 {
  top: 184px;
  left: 74px;
  width: 133px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .text-wrapper-20 {
  position: absolute;
  top: 100px;
  left: calc(50.00% - 121px);
  width: 237px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-21 {
  position: absolute;
  top: 492px;
  left: calc(50.00% - 121px);
  width: 237px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #c9a961;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-22 {
  position: absolute;
  top: 230px;
  left: calc(50.00% - 121px);
  width: 244px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

.element-conceivium .group-3 {
  position: absolute;
  top: 3747px;
  left: calc(50.00% - 267px);
  width: 541px;
  height: 674px;
}

.element-conceivium .rectangle-10 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 270px);
  width: 535px;
  height: 674px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(
    225deg,
    rgba(11, 42, 71, 1) 0%,
    rgba(7, 23, 48, 1) 100%
  );
}

.element-conceivium .frame-3 {
  width: 415px;
  top: 548px;
  left: calc(50.00% - 210px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .vector-5 {
  top: 184px;
  left: calc(50.00% - 119px);
  width: 233px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .text-wrapper-23 {
  position: absolute;
  top: 100px;
  left: calc(50.00% - 212px);
  width: 416px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-24 {
  top: 447px;
  left: calc(50.00% - 212px);
  width: 416px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #c9a961;
  font-size: 35px;
  text-align: center;
  line-height: 45.5px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-conceivium .immune-cell-genetic {
  position: absolute;
  top: 230px;
  left: calc(50.00% - 218px);
  width: 429px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
}

.element-conceivium .rectangle-11 {
  position: absolute;
  top: 1230px;
  left: calc(50.00% - 237px);
  width: 475px;
  height: 511px;
  background-color: #f7f5f0;
}

.element-conceivium .element-collect-or-ship {
  position: absolute;
  top: 1369px;
  left: calc(50.00% - 170px);
  width: 340px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
}

.element-conceivium .text-wrapper-25 {
  position: absolute;
  top: 1559px;
  left: calc(50.00% - 169px);
  width: 339px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-26 {
  position: absolute;
  top: 3647px;
  left: calc(50.00% - 387px);
  width: 775px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-27 {
  position: absolute;
  top: 4954px;
  left: calc(50.00% - 387px);
  width: 775px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-28 {
  position: absolute;
  top: 6725px;
  left: calc(50.00% - 214px);
  width: 775px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .group-4 {
  position: absolute;
  top: 2390px;
  left: calc(50.00% - 405px);
  width: 390px;
  height: 708px;
}

.element-conceivium .microbiome {
  top: 230px;
  left: calc(50.00% - 121px);
  width: 243px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
}

.element-conceivium .group-5 {
  position: absolute;
  width: 1125px;
  height: 708px;
  top: 5086px;
  left: 400px;
}

.element-conceivium .group-6 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 563px);
  width: 541px;
  height: 708px;
}

.element-conceivium .rectangle-12 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 271px);
  width: 535px;
  height: 708px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(
    225deg,
    rgba(11, 42, 71, 1) 0%,
    rgba(7, 23, 48, 1) 100%
  );
}

.element-conceivium .frame-4 {
  width: 329px;
  top: 593px;
  left: calc(50.00% - 167px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .vector-6 {
  top: 246px;
  left: 103px;
  width: 185px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .text-wrapper-29 {
  position: absolute;
  top: 100px;
  left: calc(50.00% - 167px);
  width: 330px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-30 {
  top: 492px;
  left: calc(50.00% - 167px);
  width: 330px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #c9a961;
  font-size: 35px;
  line-height: 45.5px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-conceivium .FTO-qpcr {
  position: absolute;
  top: 292px;
  left: calc(50.00% - 167px);
  width: 340px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

.element-conceivium .group-7 {
  position: absolute;
  top: 0;
  left: calc(50.00% + 28px);
  width: 541px;
  height: 708px;
}

.element-conceivium .rectangle-13 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 270px);
  width: 535px;
  height: 708px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(
    225deg,
    rgba(11, 42, 71, 1) 0%,
    rgba(7, 23, 48, 1) 100%
  );
}

.element-conceivium .frame-5 {
  width: 329px;
  top: 593px;
  left: calc(50.00% - 168px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .text-wrapper-31 {
  position: absolute;
  top: 100px;
  left: calc(50.00% - 168px);
  width: 330px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 45.5px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-32 {
  top: 492px;
  left: calc(50.00% - 168px);
  width: 330px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #c9a961;
  font-size: 35px;
  line-height: 45.5px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-conceivium .genetic-FSH-receptor {
  position: absolute;
  top: 292px;
  left: calc(50.00% - 167px);
  width: 339px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

.element-conceivium .group-8 {
  position: absolute;
  top: 2390px;
  left: calc(50.00% + 21px);
  width: 390px;
  height: 708px;
}

.element-conceivium .group-9 {
  position: absolute;
  top: 2390px;
  left: calc(50.00% + 448px);
  width: 390px;
  height: 708px;
}

.element-conceivium .rectangle-14 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 195px);
  width: 384px;
  height: 708px;
  border: 1px solid;
  border-color: #ffffff;
  background:
    linear-gradient(
      0deg,
      rgba(201, 169, 97, 0.37) 0%,
      rgba(201, 169, 97, 0.37) 100%
    ),
    linear-gradient(225deg, rgba(11, 42, 71, 1) 0%, rgba(7, 23, 48, 1) 100%);
}

.element-conceivium .rectangle-15 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 195px);
  width: 384px;
  height: 50px;
  background-color: #c9a961;
}

.element-conceivium .best-value-BUNDLE {
  position: absolute;
  top: 2408px;
  left: 1454px;
  width: 292px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .rectangle-16 {
  position: absolute;
  top: 6050px;
  left: calc(50.00% - 560px);
  width: 1121px;
  height: 626px;
  border: 1px solid;
  border-color: #071730;
}

.element-conceivium .text-wrapper-33 {
  position: absolute;
  top: 6133px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 72px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-34 {
  position: absolute;
  top: 6146px;
  left: calc(50.00% - 213px);
  width: 683px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-35 {
  position: absolute;
  top: 6271px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-36 {
  position: absolute;
  top: 6271px;
  left: calc(50.00% - 144px);
  width: 610px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-37 {
  position: absolute;
  top: 6396px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-38 {
  top: 6396px;
  left: calc(50.00% - 144px);
  width: 610px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 20px;
  text-align: right;
  line-height: 36px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-39 {
  position: absolute;
  top: 6529px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-40 {
  top: 6529px;
  left: calc(50.00% - 144px);
  width: 610px;
  font-family: "Archivo-Bold", Helvetica;
  font-weight: 700;
  color: #071730;
  font-size: 20px;
  text-align: right;
  line-height: 36px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-41 {
  position: absolute;
  top: 6310px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-42 {
  position: absolute;
  top: 6435px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .text-wrapper-43 {
  position: absolute;
  top: 6568px;
  left: calc(50.00% - 469px);
  width: 939px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  color: #071730;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.element-conceivium .vector-7 {
  top: 6232px;
  left: calc(50.00% - 465px);
  width: 931px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .vector-8 {
  top: 6364px;
  left: calc(50.00% - 465px);
  width: 931px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .vector-9 {
  top: 6498px;
  left: calc(50.00% - 465px);
  width: 931px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .vector-10 {
  top: 6996px;
  left: calc(50.00% - 560px);
  width: 1120px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.element-conceivium .frame-6 {
  width: 567px;
  top: 7046px;
  left: calc(50.00% - 560px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}

.element-conceivium .text-wrapper-44 {
  position: relative;
  width: 343px;
  height: 13px;
  font-family: "Archivo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #071730;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
  white-space: nowrap;
}

.element-conceivium .frame-7 {
  width: 494px;
  top: 7046px;
  left: calc(50.00% + 67px);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  position: absolute;
  background-color: #c9a961;
}
